.mymetadata
.project
dependency-reduced-pom.xml
.settings
/build
/bin
/src/test
.classpath
META-INF
/target
/.tern-project
*.class
*.log
/RemoteSystemsTempFiles
/Servers
/WebRoot/WEB-INF/classes
/WebContent/WEB-INF/classes
.metadata
.recommenders
.gitignore
/src/prop